### K6 test results


## Specs
Brief description of the used server: HTTP/1.1

duration: "10s",
vus: 10,
summaryTrendStats: ["med", "p(99)"]


Brief description of your computer: 
MacBook Pro 13-inch, 2017, 
Processer: 2,3 GHz Dual-Core Intel Core i5, Graphics: Intel Iris Plus Graphics 640 1536 MB, Memory: 8 GB 2133 MHz LPDDR3


## Basic performance
http_reqs......................: 518   50.88976/s
http_req_duration..............: med=175.56ms p(99)=711.69ms

## Get questions
http_reqs......................: 418   41.121924/s
http_req_duration..............: med=204.65ms p(99)=483.79ms

## Get answers
http_reqs......................: 539   53.085676/s
http_req_duration..............: med=178.9ms  p(99)=487.09ms

## Post questions
http_reqs..................: 1364    135.7458/s
http_req_duration..........: med=62.13ms p(99)=279.29ms

## Post answers
http_reqs..................: 1507    149.993486/s
http_req_duration..........: med=57.19ms p(99)=201.06ms
